@{
    ViewData["Title"] = "Add Book";
}
@model Bookish.Models.BookInput
<div class="jumbotron">
    <p class="lead">Input a book with information below</p>
</div>

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("BookInput", "Book", FormMethod.Get))
        {
            <fieldset>

                <legend>Input Author:</legend>
                @Html.TextBoxFor(m => m.Author) 
                <p></p>
                <legend>Input Title:</legend>
                @Html.TextBoxFor(m => m.Title) 

                <input type="submit" value="Input Book Info" />
            </fieldset>
        }
    </div>
</div>