@{
    ViewData["Title"] = "Add Member";
}
@model Bookish.Models.Member


<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("AddMemberToDB", "Member", FormMethod.Get))
        {
            <fieldset>
                <legend>Name:</legend>
                @Html.TextBoxFor(m => m.Name, new { @class="text", type="name", required="required" })
                <br></br>
                <legend>Email:</legend>
                @Html.TextBoxFor(m => m.Email, new { @class="text", type="email", required = "required" })
                <br><br></br>
                <input type="submit" value="Add member" />
            </fieldset>
        }
    </div>
</div>